/* src/styles/Header.css */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Размещаем элементы с левой и правой стороны */
  align-items: center; /* Выравнивание по вертикали */
  padding: 10px 20px; /* Отступы */
  background-color: #f4f4f4; /* Цвет фона */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
  position: fixed; /* Закрепляем хедер */
  top: 0; /* Прикрепляем к верхней части страницы */
  left: 0; /* Слева */
  right: 0; /* Справа */
  z-index: 1000; /* Обеспечиваем, что хедер будет выше других элементов */
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
}

.navigation-container {
  display: flex;
  gap: 20px; /* Промежуток между элементами */
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #4caf50; /* Цвет при наведении */
}

/* Чтобы контент не был скрыт под хедером */
/* body {
  padding-top: 100px; 
} */
