/* Стили для хедера */
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerTitle {
  font-size: 32px;
  font-weight: bold;
}

.navigationContainer {
  display: flex;
  gap: 20px;
}

/* Стили для бургер-меню */
.burgerIcon {
  display: none;
  font-size: 1.8rem;
  color: #333;
  cursor: pointer;
  z-index: 1101;
}

.burgerIcon svg {
  transition: transform 0.3s ease;
}

/* Мобильное меню */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Тёмный фон */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 1100;
  opacity: 0; /* Скрыто по умолчанию */
  visibility: hidden; /* Скрыто по умолчанию */
}

.mobileMenu.open {
  opacity: 1; /* Меню становится видимым */
  visibility: visible;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobileMenu a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
}

.mobileMenu a:hover {
  background: #444;
}

/* Стили для полосы-разделителя */
.mobileMenu hr {
  border: 0;
  height: 1px;
  background-color: #444;
  width: 80%;
  margin: 10px 0;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
  }
  .navigationContainer {
    display: none; /* Скрываем меню на мобильных */
  }

  .burgerIcon {
    display: block; /* Показываем иконку бургера */
    color: #000;
  }

  .navigationContainer.open {
    display: flex; /* Показываем меню, когда оно открыто */
  }

  .headerTitle {
    font-size: 24px;
  }
}
