.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerTitle {
  font-size: 32px;
  font-weight: bold;
}

.navigationContainer {
  display: flex;
  gap: 20px;
}

/* Стили для навигационных ссылок */
.navLink {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.navLink:hover {
  background-color: #0056b3;
}

.navLink:active {
  transform: scale(0.97);
  background-color: #004080;
}

.active {
  background-color: #28a745;
}

/* Бургер-меню */
.burgerIcon {
  display: none;
  font-size: 1.8rem;
  color: #333;
  cursor: pointer;
  z-index: 1101;
}

.burgerIcon svg {
  transition: transform 0.3s ease;
}

/* Мобильное меню */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 1100;
  opacity: 0;
  visibility: hidden;
}

.mobileMenu.open {
  opacity: 1;
  visibility: visible;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobileMenu a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
}

.mobileMenu a:hover {
  background: #444;
}

.mobileMenu hr {
  border: 0;
  height: 1px;
  background-color: #444;
  width: 80%;
  margin: 10px 0;
}

/* Адаптив для мобилок */
@media (max-width: 768px) {
  .headerContainer {
    flex-direction: row;
  }

  .navigationContainer {
    display: none;
  }

  .burgerIcon {
    display: block;
    color: #000;
  }
}
